<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407315141017-ljrne1iv1na2fvf92te49dc3p5sbjr4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407315141017-ljrne1iv1na2fvf92te49dc3p5sbjr4k</string>
	<key>API_KEY</key>
	<string>AIzaSyDBj0T5RzcwdBWaMJZ3FXRLnK0KziENRPI</string>
	<key>GCM_SENDER_ID</key>
	<string>407315141017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RDCrew.Lumi-iOS</string>
	<key>PROJECT_ID</key>
	<string>playground-energy</string>
	<key>STORAGE_BUCKET</key>
	<string>playground-energy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<false/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407315141017:ios:c2ff638da8220455</string>
	<key>DATABASE_URL</key>
	<string>https://playground-energy.firebaseio.com</string>
</dict>
</plist>
